<div class="row">
	<div class="col">
		<a [routerLink]="['/facturen/']">&lt; {{'Back' | translate}}</a>
	</div>
</div>
<div class="row">
	<section class="col-8">
		<h2>{{'General' | translate}}:</h2>
		<table class="table">
			<tr>
				<th>{{'Due date' | translate}}:</th>
				<td>{{this.invoice.due}}</td>
			</tr>
			<tr>
				<th>{{'Price' | translate}}:</th>
				<td>€ {{this.invoice.getPrice()}}</td>
			</tr>
			<tr>
				<th>{{'Status' | translate}}:</th>
				<td>
					<app-status-icon
						[status]="this.invoice.getStatus()"></app-status-icon>
				</td>
			</tr>
		</table>
	</section>
	<section class="col-4">
		<h2>{{'Owner' | translate}}:</h2>
		<table class="table">
			<tr>
				<th>{{'Id' | translate}}:</th>
				<td>{{this.invoice.person.id}}</td>
			</tr>
			<tr>
				<th>{{'Name' | translate}}:</th>
				<td>{{this.invoice.person.name}}</td>
			</tr>
			<tr>
				<th>{{'Address' | translate}}:</th>
				<td>{{this.invoice.person.address}}</td>
			</tr>
			<tr>
				<th>{{'Zipcode' | translate}}:</th>
				<td>{{this.invoice.person.zipcode}}</td>
			</tr>
			<tr>
				<th>{{'City' | translate}}:</th>
				<td>{{this.invoice.person.city}}</td>
			</tr>
		</table>
	</section>
</div>
<div class="row">
	<section class="col">
		<h2 translate>
			Details
		</h2>
		<table class="table">
			<tr>
				<th translate>Description</th>
				<th translate>Price</th>
				<th translate>Distance</th>
			</tr>
			<tr *ngFor="let detail of this.invoice.details">
				<td>{{detail.description}}</td>
				<td>€ {{detail.getPrice()}}</td>
				<td>{{detail.distance}}km</td>
			</tr>
		</table>
	</section>
</div>
<div class="row">
	<div *ngIf="this.getIndex() > 0" class="col">
		<a [routerLink]="['/facturen/', this.invoice.id - 1]">
			&lt; {{'Previous' | translate}}
		</a>
	</div>
	<div *ngIf="this.getIndex() < this.invoices.length - 1"
		 class="col" style="text-align: right">
		<a [routerLink]="['/facturen/', this.invoice.id + 1]">
			{{'Next' | translate}} &gt;
		</a>
	</div>
</div>
