<div class="row">
	<div class="col">
		<a [routerLink]="['/facturen/']">&lt; {{'Back' | translate}}</a>
	</div>
	<div class="col" *ngIf="!this.invoice?.paid">
		<button class="btn btn-primary pull-right" (click)="payInvoice()" translate>Pay Invoice</button>
	</div>
</div>
<div class="row" *ngIf="loaded">
	<section class="col-8">
		<h2>{{'General' | translate}}:</h2>
		<table class="table">
			<tr>
				<th>{{'Due date' | translate}}:</th>
				<td>{{this.invoice.due}}</td>
			</tr>
			<tr>
				<th>{{'Price' | translate}}:</th>
				<td>€ {{this.invoice.getPrice()}}</td>
			</tr>
			<tr>
				<th>{{'Status' | translate}}:</th>
				<td>
					<app-status-icon
						[status]="this.invoice.getStatus()"></app-status-icon>
				</td>
			</tr>
		</table>
	</section>
	<section class="col-4">
		<h2>{{'Owner' | translate}}:</h2>
		<table class="table">
			<tr>
				<th>{{'Id' | translate}}:</th>
				<td>{{this.invoice.person.id}}</td>
			</tr>
			<tr>
				<th>{{'Name' | translate}}:</th>
				<td>{{this.invoice.person.name}}</td>
			</tr>
			<tr>
				<th>{{'Address' | translate}}:</th>
				<td>{{this.invoice.person.address}}</td>
			</tr>
			<tr>
				<th>{{'Zipcode' | translate}}:</th>
				<td>{{this.invoice.person.zipcode}}</td>
			</tr>
			<tr>
				<th>{{'City' | translate}}:</th>
				<td>{{this.invoice.person.city}}</td>
			</tr>
		</table>
	</section>
</div>
<div class="row" *ngIf="loaded">
	<section class="col">
		<h2 translate>
			Details
		</h2>
		<table class="table">
			<tr>
				<th translate>Description</th>
				<th translate>Price</th>
				<th translate>Distance</th>
			</tr>
			<tr *ngFor="let detail of this.invoice.details">
				<td>{{detail.description}}</td>
				<td>€ {{getPrice(detail.price)}}</td>
				<td>{{detail.distance / 1000}}km</td>
			</tr>
		</table>
	</section>
</div>
