<table class="table">
	<thead>
	<tr>
		<th scope="col">Henkilö</th>
		<th scope="col">Hinta</th>
		<th scope="col">Eräpäivä</th>
		<th scope="col">Status</th>
	</tr>
	</thead>
	<tbody>
	<tr *ngFor="let invoice of invoices">
		<th scope="row"><a [routerLink]="['/facturen/', invoice.id]">{{invoice.person.name}}</a>
		</th>
		<td>€ {{invoice.getPrice()}}</td>
		<td> {{invoice.due.getDate()}}-{{invoice.due.getMonth() +
			1}}-{{invoice.due.getFullYear()}}
		</td>
		<td>
			<app-status-icon [status]="invoice.getStatus()"></app-status-icon>
		</td>
	</tr>
	</tbody>
</table>
